{% load staticfiles %}
<html>
    <head>
		<title>ZaRoc</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel = "icon" href = "{% static 'images/logo.png' %}" type = "image/x-icon"> 
        <style>body {font-family: Arial, sans-serif;}</style>
  
    </head>
    <body>
        {% if user.is_authenticated %}
            <form action="{% url 'book' %}" method='post' autocomplete="off">
                {% csrf_token%}
                {{form.as_p}}
                <input type="submit" name="book" value="submit&book">
            </form>
        {% else %}
			<script>
    			window.location = "{% url 'signin' %}";
			</script>
		{% endif %}
    </body>
</html>