{% load staticfiles %}
<html>
    <head>
        <title>bookings</title>
    </head>
    <body>
        <label>Hall Name and number</label><h2> {{Name}}  [{{number}}] </h2>
        </br></br>
        Name :<h3>{{cu}} </h3></label>
        <form action="{% url 'book' %}" method='POST'>
            {% csrf_token %}
            <table>
                {{ f.as_table }}
            </table>
            <input type='submit'>
        </form>
        <div>
            {%if ch %}
                <h3>Booking confirmed</h3>
            {% endif %}
        </div>
    </body>
</html>