{% load staticfiles %}
{% load socialaccount %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
<head>
	<title>ZaRoc</title>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">    
	<link rel = "icon" href = "{% static 'images/logo.png' %}" type = "image/x-icon"> 
    <style>body {font-family: Arial, sans-serif;}</style>

	{% comment %} bootstrap - for frontend {%  endcomment %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- XDSoft DateTimePicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" /> 

    {% comment %} font {% endcomment %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'fonts/ionicons.min.css'%}">


    {% comment %} local - for frontend {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/Footer-Basic.css'%}">
    <link rel="stylesheet" href="{% static 'css/Navigation-with-Button.css'%}">
    <link rel="stylesheet" href="{% static 'css/Projects-Horizontal.css'%}">
</head>

<body>
    <!-- Start: Navigation with Button -->
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="/home">ZaRoc</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Halls</a></li>
                </ul>
                <span class="navbar-text actions"> 
                    {% if user.is_authenticated %}
                        <form id="logout_form" method="post" action="{% url 'account_logout' %}"> {% csrf_token %}
                            <a class="login" href="#">{{user.email}}</a>
                            <a class="login" href="#">About</a>
                            {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                            {% endif %}
                            <a href="javascript:$('#logout_form').submit();" class="btn action-button" style="background-color: #2e2a5f;" type="submit">Logout</a>
                        </form>
                    {% else %}
                        <form method="post" id="login_form" action="{% provider_login_url "google" action="reauthenticate" %}"> {% csrf_token %}
                            {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                            {% endif %}	
                            <a class="login" href="#">About</a>
                            <a href="javascript:$('#login_form').submit();" class="btn action-button" style="background-color: #2e2a5f;" type="submit">Signin</a> 
                        </form>                          
                    {% endif %}    
                </span>
            </div>
        </div>
    </nav>
    <!-- End: Navigation with Button -->

    <!-- Start: Projects Horizontal -->
    <div class="projects-horizontal">
        <div class="container">
            <div class="row d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center projects">
                <div class="col-sm-6 col-xl-8 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5 col-xl-6"><a href="#"><img class="img-fluid" src="{% static 'images/'%}{{hall.no}}.jpg"></a></div>
                        <div class="col">
                            <h3 class="name">{{hall.name}}</h3>
                            <p class="description"><strong>Hall No : </strong>{{hall.no}}</p>
                            <p class="description"><strong>Hall Capacity : </strong>{{hall.capacity}}</p>
                            <p class="description"><strong>Hall Incharge : </strong>{{hall.inCharge}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End: Projects Horizontal -->

    {% if user.is_authenticated %}
    <!-- Date - Time -->
    <h4 class="text-center">BOOK</h4>
    <div class="container d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center" style="margin-top: 1%;">
        <form class="form-inline d-sm-flex d-md-flex d-lg-flex justify-content-sm-center justify-content-md-center justify-content-lg-center" style="width: 709px;" action="{% url 'hall' %}" method='post' autocomplete="off"> {% csrf_token%}
                <div class="input-group">
                <span class="input-group-text">From :&nbsp;
                    <img src="{% static 'images/icons8-calendar-24.png'%}">
                </span>
                {% render_field date_form.sdate class="form-control" placeholder="dd/mm/yyyy hh:mm" %}
            </div>
            <div class="input-group">
                <span class="input-group-text">To :&nbsp;
                    <img src="{% static 'images/icons8-calendar-24.png'%}">
                </span>
                {% render_field date_form.edate class="form-control" placeholder="dd/mm/yyyy hh:mm" %}
            </div>
            <div class="input-group">
                <button class="btn btn-primary" type="submit"  name="hall_time_search" style="background-color: #234469;">Search</button>
            </div>
        </form>
    </div>
    {% if t_exist == False %}
        <div> 
            <h4> Choose Proper Date </h4>
        </div>
    {% endif %}
    <!-- END : Date - Time -->
    {% endif %}


    {% comment %} <!------ Display Existing Bookings -------> {% endcomment %}
    <div class="container" style="margin: 5em auto;">
        {% if bookings %}
            <div class="row d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center projects">
                <div class="col item">
                    <h4 class="name">Existing Bookings</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Booked By</th>
                                    <th>Booking Id</th>
                                    <th>Event Name</th>
                                    <th>From</th>
                                    <th>To</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for booking in bookings %}
                                    <tr>
                                        <td>{{booking.fId.username}}</td>
                                        <td>{{booking.bId}}</td>
                                        {% comment %} <td>{{booking.eventDetails}}</td> {% endcomment %}
                                        <td>{{booking.eventName}}</td>
                                        <td>{{booking.sTime}}</td>
                                        <td>{{booking.eTime}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% else %}
            <h4> No Bookings Exist </h4>
        {% endif %}
    </div>
    {% comment %} <!--- End : Display Existing Bookings ---> {% endcomment %}

    <!-- Start: Footer Basic -->
    <div class="footer-basic">
        <footer>
            <!-- Start: Social Icons -->
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <!-- End: Social Icons -->
            <!-- Start: Links -->
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
            </ul>
            <!-- End: Links -->
            <!-- Start: Copyright -->
            <p class="copyright">ZaRoc © 2020</p>
            <!-- End: Copyright -->
        </footer>
    </div>
    <!-- End: Footer Basic -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="{% static 'js/grayscale.js'%}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
        integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
    <script>
        $(function () {
            $("#id_sdate").datetimepicker({ format: 'd/m/Y H:i', });
            $("#id_edate").datetimepicker({ format: 'd/m/Y H:i', });
        });
    </script>
    <script src="{% static 'js/script.js'%}"></script>
</body>
</html>