{% load staticfiles %}
<html>

<head>
    <title>ZaRoc</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
    <style>
        body {
            font-family: Arial, sans-serif;
        }
    </style>

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

    <!-- XDSoft DateTimePicker -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
        integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
    {% comment %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
        integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
    {% endcomment %}

    {% comment %} font {% endcomment %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% comment %} local {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/Footer-Basic.css'%}">
    <link rel="stylesheet" href="{% static 'css/Navigation-with-Button.css'%}">
    
    <link rel="stylesheet" href="{% static 'css/untitled.css'%}">
    <link rel="stylesheet" href="{% static 'css/home.cs'%}s">

</head>

<body>
    {% if user.is_authenticated %}
        <!-- Start: Navigation with Button -->
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
            <div class="container"><a class="navbar-brand" href="/home">ZaRoc</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Halls</a></li>
                    </ul>
                    <span class="navbar-text actions"> 
                        <form id="logout_form" method="post" action="{% url 'account_logout' %}"> {% csrf_token %}
                            <a class="login" href="#">kavyasuresh@gmail.com</a>
                            <a class="login" href="#">About</a>
							{% if redirect_field_value %}
								<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
							{% endif %}
                            <a href="javascript:$('#logout_form').submit();" class="btn action-button" style="background-color: #0051ba;" type="submit">Logout</a>
                        </form>
					</span>
                </div>
            </div>
        </nav>
        <!-- End: Navigation with Button -->
        <div class="cont">
            <div class="form sign-in">
                <h2>Hall Booking</h2>
                <label>
                    <span>From : </span>
                    <input type="date" />
                </label>
                <label>
                    <span>To : </span>
                    <input type="date" />
                </label>
                <button type="button" class="submit">Search Halls</button>
            </div>

            <div class="sub-cont">
                <div class="img">
                    <div class="img__text m--up">
                        <h2>Search By Halls</h2>
                        <p>Have a particular Hall in mind ?</p>
                    </div>
                    <div class="img__text m--in">
                        <h2>Search By Time</h2>
                        <p>Have fixed event time ?</p>
                    </div>
                    <div class="img__btn">
                        <span class="m--up">GO</span>
                        <span class="m--in">GO</span>
                    </div>
                </div>
                <div class="form sign-up">
                    <h2>Book Halls</h2>
                    <label>
                        <span>Choose Halls</span>
                        <!--         <input type="text" /> -->
                        <select class='span3' name='optionlist' tabindex='1' value='X-Men'>
                            <option selected='selected' value='0'></option>
                            <option value='1'>Shanon Hall</option>
                            <option value='2'>Pascal Hall</option>
                            <option value='3'>Aryabhatta Hall</option>
                        </select>
                    </label>
                    <button type="button" class="submit">Sign Up</button>
                </div>
            </div>
        </div>
        <!-- partial -->

        <!-- Start: Footer Basic -->
        <div class="footer-basic">
            <footer>
                <!-- Start: Social Icons -->
                <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
                <!-- End: Social Icons -->
                <!-- Start: Links -->
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#">Home</a></li>
                    <li class="list-inline-item"><a href="#">About</a></li>
                    <li class="list-inline-item"><a href="#">Terms</a></li>
                </ul>
                <!-- End: Links -->
                <!-- Start: Copyright -->
                <p class="copyright">ZaRoc © 2020</p>
                <!-- End: Copyright -->
            </footer>
        </div>
        <!-- End: Footer Basic -->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="{% static 'js/grayscale.js'%}"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
            integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
        <script>
            $(function () {
                $("#id_sdate").datetimepicker({ format: 'd/m/Y H:i', });
                $("#id_edate").datetimepicker({ format: 'd/m/Y H:i', });
            });
        </script>
        <script src="{% static 'js/script.js'%}"></script>
    {% else %}
        <script>
            window.location = "{% url 'signin' %}";
        </script>
    {% endif %}
</body>

</html>