@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

/* .login {} */
.btn {
    padding: 1.1em 2.1em 1.1em;
    margin: 10px 15px 10px 15px;
    
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    color: #fbdedb;
    font-family: "Open Sans", sans-serif;
    font-weight: 750;
    font-size: 1.1em;
    text-align: center;
    -webkit-box-shadow: 0em -0.2rem 0em rgba(0, 0, 0, 0.1) inset;
    -moz-ox-shadow: 0em -0.2rem 0em rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0em -0.2rem 0em rgba(0, 0, 0, 0.1) inset;
    position: relative;
  }
  .btn:hover, .btn:focus {
    opacity: 0.9;
  }
  .btn.circular {
    border-radius: 2em !important;
  }
  /* Colours */
  .red {
    background-color: #d55050;
  }