<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ZaRoc2.0</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/Projects-Clean.css">
    <link rel="stylesheet" href="assets/css/Projects-Horizontal.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <!-- Start: Navigation with Button -->
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="#">ZaRoc</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Halls</a></li>
                </ul><span class="navbar-text actions"> <a class="login" href="#">kavyasuresh@gmail.com</a><a class="login" href="#">About</a><a class="btn btn-light action-button" role="button" href="#" style="background-color: #0051ba;">Logout</a></span></div>
        </div>
    </nav>
    <!-- End: Navigation with Button -->
    <!-- Start: Projects Clean -->
    <div class="projects-clean">
        <div class="container">
            <form>
                <!-- Start: Projects -->
                <div class="form-row d-flex d-md-flex d-lg-flex d-xl-flex justify-content-center justify-content-md-center justify-content-lg-center justify-content-xl-center projects" style="padding: 8;">
                    <div class="col-sm-6 col-lg-4 col-xl-6 item" style="min-width: 345px;">
                        <div class="card" style="width: 100%;border-radius: 2rem;"><img class="card-img w-100 d-block" src="assets/img/Photo2_1.jpg" style="border-radius: 2rem;">
                            <div class="card-img-overlay d-flex flex-column justify-content-center" style="background-color: rgba(0,0,0,0.69);color: rgb(255,255,255);border-radius: 2rem;">
                                <h4><strong>Hall Details</strong></h4>
                                <p style="color: rgb(219,219,220);"><strong>Hall Name :</strong>&nbsp;Shanon Hall</p>
                                <p style="color: rgb(219,219,220);"><strong>Hall No :</strong>&nbsp;102</p>
                                <p style="color: rgb(219,219,220);"><strong>Hall Capacity :</strong>&nbsp;52</p>
                                <p style="color: rgb(219,219,220);"><strong>Hall Incharge :</strong>&nbsp;Tessy Mathew, HOD</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 col-xl-6 item" style="min-width: 345px;">
                        <h3 class="name">Event Details</h3>
                        <p class="description"><strong>From :</strong> 5th July 2020 9:30am</p>
                        <p class="description"><strong>To : 6</strong>th July 2020 2:30am&nbsp;</p>
                        <p class="description"><strong>Title :</strong></p><input class="form-control" type="text">
                        <p class="description"><strong>Description :&nbsp;</strong></p><textarea class="form-control"></textarea>
                        <div class="form-row" style="margin-top: 13px;">
                            <div class="col d-flex d-xl-flex justify-content-end justify-content-xl-center">
                                <div class="btn-group" role="group"><button class="btn btn-primary" type="button" style="background-color: #0051ba;">Confirm</button></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End: Projects -->
            </form>
        </div>
    </div>
    <!-- End: Projects Clean -->
    <!-- Start: Footer Basic -->
    <div class="footer-basic">
        <footer>
            <!-- Start: Social Icons -->
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <!-- End: Social Icons -->
            <!-- Start: Links -->
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
            </ul>
            <!-- End: Links -->
            <!-- Start: Copyright -->
            <p class="copyright">ZaRoc © 2020</p>
            <!-- End: Copyright -->
        </footer>
    </div>
    <!-- End: Footer Basic -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>