.datepick {
  color: #000000;
  width: 100%;
  background-color: rgba(146,146,146,0.51);
}

.btn.btn-primary.book {
  width: 30%;
  padding: 7px;
  margin-top: 34px;
  border-radius: 5px;
}

.col-lg-8.mx-auto.bookform {
  padding: 25px 15px 25px 15px;
}

.masthead .intro-body .intro-text {
  height: 100%;
}

.container.BookContainer {
  padding: 25px 15px 25px 15px;
  width: 70%;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.44);
  max-width: 500px;
}

.form-row {
  margin-top: 30px;
  width: 100%;
}

.col-auto.col-lg-2.col-xl-3.offset-xl-0.d-xl-flex.justify-content-xl-end {
  max-width: 82px;
}

.form-control.date {
  height: 100%;
  width: 100%;
}
.SignupContainer {
  padding: 25px 15px 25px 15px;
  width: 70%;
  border-radius: 1rem;
  background-color: rgba(0,0,0,0.44);
  max-width: 500px;
}
